<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Questions</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
<div class="container"">
<h1>Результат</h1>
    {% for question in questions.question %}
        <div class="question-block">
            <h2>Вопрос {{ loop.index }}: {{ question.text }}{% if question.isRight == 1 %} - <span style="color: green">Верно</span>{% else %} - <span style="color: red">Не верно</span>{% endif %}</h2>

            <div class="answers">
                {% for answer in question.answers %}
                    <div class="answer">
                        <label>
                            {{ answer.text }} {% if answer.isRight == 1 %} - <span style="color: green">Верно</span>{% endif %} {% if answer.isRight == 0 and answer.isRight is not null %} - <span style="color: red">Не верно</span>{% endif %}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</form>
</body>
</html>